<!doctype html>
<html class="no-js">
<head>
    <title><%= humanizedAppName %></title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="description"
          content="">
    <meta name="keywords"
          content="">

    <!-- build:css(.tmp,app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp,app) styles/main.css -->
    <link rel="stylesheet"
          href="styles/main.css"/>
    <!-- endbuild -->
</head>

<body ng-app="<%= scriptAppName %>">

<% if (ngRoute) {
%><main ng-view></main><%
} %><% if (uiRouter) {
%><main ui-view></main><% } %>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<!-- build:js({.tmp,app}) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>


